<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <title>Restaurant Reviews</title>
  </head>
  <body>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
      <span></span>
        <a
          href="https://flowbite.com/"
          class="flex items-center space-x-3 rtl:space-x-reverse"
        >
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-8"
            alt="Flowbite Logo"
          />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
            >RestroLookup</span
          >
        </a>
        <div class="flex md:order-2">
          <button
            type="button"
            data-collapse-toggle="navbar-search"
            aria-controls="navbar-search"
            aria-expanded="false"
            class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1"
          >
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Search</span>
          </button>
          <div class="relative hidden md:block">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
              <span class="sr-only">Search icon</span>
            </div>
            <form id="search-form">
              <input
                type="text"
                id="search-input"
                class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search..."
              />
            </form>
          </div>
          <button
            data-collapse-toggle="navbar-search"
            type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-search"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
      </div>
    </nav>

    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      type="button"
      class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>

    <aside
      id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
          <li>
            <form id="filter-form" class="flex flex-col gap-5">
              <div class="flex flex-col">
                <h2 class="font-bold py-2">Filter by Cuisines</h2>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="cuisine" value="chinese" />
                  Chinese
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="cuisine" value="japanese" />
                  Japanese
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="cuisine" value="indian" /> Indian
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="cuisine" value="italian" />
                  Italian
                </div>
                <!-- Add more cuisine checkboxes as needed -->
              </div>

              <div class="flex flex-col">
                <h2 class="font-bold py-2">Filter by Stars</h2>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="stars" value="1" /> 1 Star
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="stars" value="2" /> 2 Stars
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="stars" value="3" /> 3 Stars
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="stars" value="4" /> 4 Stars
                </div>
                <div class="flex flex-row items-center justify-start gap-2">
                  <input type="checkbox" name="stars" value="5" /> 5 Stars
                </div>
                <!-- Add more star rating checkboxes as needed -->
              </div>

              <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
              >
                Apply Filters
              </button>
            </form>
          </li>
          <li class="flex flex-col gap-3">
            <label
              for="countries"
              class="block mt-5 text-sm font-bold text-gray-900 dark:text-white"
              >Sort By</label
            >
            <select
              id="sort-by"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option value="date">Date</option>
              <option value="stars">Rating</option>
              <option value="likes_count">Most Helpful</option>
            </select>
            <select
              id="sort-order"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
            </select>
          </li>
        </ul>
      </div>
    </aside>

    <div class="p-4 sm:ml-64">
      <div
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
      >
        <!-- Display reviews -->
        <div id="reviews" class="flex flex-col gap-5 my-5">
          {% for review in reviews %}
          <div class="review flex flex-col gap-2">
            <h2 class="font-bold text-lg">{{ review.restaurant }}</h2>
            <div class="flex flex-row items-center justify-start gap-1">
              <img
                class="w-4"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABT0lEQVR4nNWWvUoDQRSFPwMRC/8bsUghMYi1IFiIWOgLCDZJreADKMRGSOMr+AAq2IiFtvoAClrbpBbEdCqiKwM3MITZZefO7kAOnO6e+8HdO7MDQ6hRcXQ9APexoQvAH5AA9ZjgI4EaH8YEP1ngx1jQugXtuxEDfOwAt2OAXxzg57KhSw5o38tlAMeAGaCTAe5IjanNrU3gDehlNA51TxgbNngR6JYITcRd14UzBVyVCL0BZrPGvgd8Fwj8kZtuJM83XwFeCxrtms+yGU0ClwHQa9lytQ5kXD6jNZlgzQG/HmBTO18EeF8xZrOgwbpTgG9DoePApwL8Jcup1m7GAp2I0xbPZNW6SDmb61bNasqZP9dCq8DHQDNzpU47aieAM8dPQfX83R5o0syR2QHerdyWBnwqYfN2rnnkapJJpIe3GkALqCiyFclGeQQyFPoHEw8YhVQOh/EAAAAASUVORK5CYII="
              />
              <p>{{ review.review_stars }}/5</p>
            </div>
            <div class="flex flex-row items-center justify-start gap-1">
              <img
                class="w-4"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAACXBIWXMAAAsTAAALEwEAmpwYAAACCklEQVR4nO2avUtbURiHn2LbRWyh4OAnDv4HnTopdCp+4FKKjjppTSz9E8R/wE6V+gEuis427tYunZz8KhVs91AjKDYh5cgbCKGYY3JO8159H/gtl+TkPDkn9773vQHDMAzD6AZSwDZwAJxLDuTYNNB1F76mDmAByAPFKikAG0APCWUEyHmIVuYMGCZhzMiK3Va2fLXTJGhlC3XIlkurX+nOGrfxTdu7HcUsB5Qt5ROKLz35CMJ52TnqSEeQLeUtCslEFN5CIccRhV1Fpo5cRGE3tjqKkaOO4n0TzkWU/Y1CDiMK76OQzH27LE1HFJ5EIV2RSss/WktLx2IE4Y8ob+mcBT47t6GcV4G2tmsADJEQ0gFaPK7LmSiGa9zebhsPklBagXk50/qs6moSfrM+dMpN/GepmnKSfSkqpjRfegzDMAwjITwFxoBNYA14VsMY7j3rMsYo8ARlPATeSFFxWVE9/QTGgUce4zwGJoBfFWNcSnHyGmiigbQA74ATj7LxVErMAaAXaJb0yrEP8ppq4/yQZ8/us//rir4HshFu9n2TlTm4uUTlOfCtgaKV2QNexBB9AMwFerIfOm5OszLHYLIrCsSqZSmUdEqBjG9cq7huvisQ8c1RCOELBSK+cf/uq5uvCkR8sxNC+KVnT6rRuQL6QgiXpHf/UTpqiJvTF6D/eqaGYRiGYaCVv6HnqrbiWrFuAAAAAElFTkSuQmCC"
              />
              <p>{{ review.reviewer }}</p>
            </div>
            <p>{{ review.review }}</p>
            <button
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-max-content"
            >
              Likes: {{ review.likesCount }}
            </button>
            <!-- Add other review details as needed -->
          </div>
          {% endfor %}
        </div>
        <!-- Pagination links -->
        <div class="pagination flex flex-row items-center justify-center gap-3">
          {% if reviews.has_previous %}
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            href="?page=1"
            >First</a
          >
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            href="?page={{ reviews.previous_page_number }}"
            >&larr;</a
          >
          {% endif %}
          <span class="current"
            >Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}</span
          >
          {% if reviews.has_next %}
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            href="?page={{ reviews.next_page_number }}"
            >&rarr;</a
          >
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            href="?page={{ reviews.paginator.num_pages }}"
            >Last</a
          >
          {% endif %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        // Search form submission
        $("#search-form").submit(function (e) {
          console.log("searching...");
          e.preventDefault();
          var keyword = $("#search-input").val();
          $.getJSON("/search_reviews/", { keyword: keyword }, function (data) {
            displayReviews(data);
          });
        });

        // Filter form submission
        $("#filter-form").submit(function (e) {
          e.preventDefault();
          var cuisine = $('input[name="cuisine"]:checked')
            .map(function () {
              return $(this).val();
            })
            .get();
          var stars = $('input[name="stars"]:checked')
            .map(function () {
              return $(this).val();
            })
            .get();
          $.getJSON(
            "/filter_reviews/",
            { cuisine: cuisine, stars: stars },
            function (data) {
              displayReviews(data);
            }
          );
        });

        // Sort dropdown change event
        $("#sort-by, #sort-order").change(function () {
          var sortBy = $("#sort-by").val();
          var sortOrder = $("#sort-order").val();
          $.getJSON(
            "/sort_reviews/",
            { sort_by: sortBy, sort_order: sortOrder },
            function (data) {
              displayReviews(data);
            }
          );
        });

        // Function to display reviews
        function displayReviews(reviews) {
          $("#reviews").empty();
          $.each(reviews, function (index, review) {
            $("#reviews").append(
              '<div class="review flex flex-col gap-2"> <h2 class="font-bold text-lg">' +
                review.restaurant +
                '</h2> <div class="flex flex-row items-center justify-start gap-1"> <img class="w-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAABT0lEQVR4nNWWvUoDQRSFPwMRC/8bsUghMYi1IFiIWOgLCDZJreADKMRGSOMr+AAq2IiFtvoAClrbpBbEdCqiKwM3MITZZefO7kAOnO6e+8HdO7MDQ6hRcXQ9APexoQvAH5AA9ZjgI4EaH8YEP1ngx1jQugXtuxEDfOwAt2OAXxzg57KhSw5o38tlAMeAGaCTAe5IjanNrU3gDehlNA51TxgbNngR6JYITcRd14UzBVyVCL0BZrPGvgd8Fwj8kZtuJM83XwFeCxrtms+yGU0ClwHQa9lytQ5kXD6jNZlgzQG/HmBTO18EeF8xZrOgwbpTgG9DoePApwL8Jcup1m7GAp2I0xbPZNW6SDmb61bNasqZP9dCq8DHQDNzpU47aieAM8dPQfX83R5o0syR2QHerdyWBnwqYfN2rnnkapJJpIe3GkALqCiyFclGeQQyFPoHEw8YhVQOh/EAAAAASUVORK5CYII=" /> <p>' +
                review.review_stars +
                '/5</p> </div> <div class="flex flex-row items-center justify-start gap-1"> <img class="w-4" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAACXBIWXMAAAsTAAALEwEAmpwYAAACCklEQVR4nO2avUtbURiHn2LbRWyh4OAnDv4HnTopdCp+4FKKjjppTSz9E8R/wE6V+gEuis427tYunZz8KhVs91AjKDYh5cgbCKGYY3JO8159H/gtl+TkPDkn9773vQHDMAzD6AZSwDZwAJxLDuTYNNB1F76mDmAByAPFKikAG0APCWUEyHmIVuYMGCZhzMiK3Va2fLXTJGhlC3XIlkurX+nOGrfxTdu7HcUsB5Qt5ROKLz35CMJ52TnqSEeQLeUtCslEFN5CIccRhV1Fpo5cRGE3tjqKkaOO4n0TzkWU/Y1CDiMK76OQzH27LE1HFJ5EIV2RSss/WktLx2IE4Y8ob+mcBT47t6GcV4G2tmsADJEQ0gFaPK7LmSiGa9zebhsPklBagXk50/qs6moSfrM+dMpN/GepmnKSfSkqpjRfegzDMAwjITwFxoBNYA14VsMY7j3rMsYo8ARlPATeSFFxWVE9/QTGgUce4zwGJoBfFWNcSnHyGmiigbQA74ATj7LxVErMAaAXaJb0yrEP8ppq4/yQZ8/us//rir4HshFu9n2TlTm4uUTlOfCtgaKV2QNexBB9AMwFerIfOm5OszLHYLIrCsSqZSmUdEqBjG9cq7huvisQ8c1RCOELBSK+cf/uq5uvCkR8sxNC+KVnT6rRuQL6QgiXpHf/UTpqiJvTF6D/eqaGYRiGYaCVv6HnqrbiWrFuAAAAAElFTkSuQmCC" /> <p>' +
                review.reviewer +
                "</p> </div> <p>" +
                review.review +
                '</p> <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-max-content">Likes: ' +
                review.likesCount +
                '</button></div>'
            );
          });
        }
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
